.cover__link {
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    height:740px;
    background-size: cover;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;  
    box-sizing: border-box;
}

.cover__link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: .3;
    z-index: -1;
    transition: .8s;
}
.cover__link:hover::before {
    opacity: .8;
}

/*ставлю высоту в зависимость от ширины на экранах,
        где блок занимает 100vw чтобы блок сжимался пропорционально*/
@media all and (max-width: 1184px) {
    .cover__link {
        height: 62.5vw;
    }
}

