.places_gaps {
    margin: 0 auto 92px auto;
}

@media all and (max-width: 768px) {
    .places_gaps {
        margin: 0 auto 90px auto;
    }
}

@media all and (max-width: 320px) {
    .places_gaps {
        margin: 0 auto 66px auto;
    }
}