.cover_gaps {
    margin: 0 auto 92px auto;
}

@media all and (max-width: 768px) {
    .cover_gaps {
        margin: 0 auto 88px auto;
    }  
}

@media all and (max-width: 320px) {
    .cover_gaps {
        margin: 0 auto 64px auto;
    }  
}