.main-info_gaps {
    margin: 56px 0 92px 0;
}

@media all and (max-width: 1024px) {
    .main-info_gaps {
        margin: 48px 0 92px 0;
    }
}

@media all and (max-width: 768px) {
    .main-info_gaps {
        margin: 48px 0 88px 0;
    }
}

@media all and (max-width: 768px) {
    .main-info_gaps {
        margin: 48px 0 64px 0;
    }
}