.main-info__caption {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: 1.5px;
}

@media all and (max-width: 768px) {
    .main-info__caption {
        padding-left: 24px;
    }
}

@media all and (max-width: 320px) {
    .main-info__caption {
        padding-left: 16px;
    }
}