.places__link-cont {
    align-self: end;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media all and (max-width: 320px) {
    .places__link-cont {
        min-width: 288px;
        margin: auto;
    } 
}